/*post-bootstrap modifications*/

/*    Colors
      pale frost  (very pale blue)  #DBE3F0
      mint green    (light green)   #29D08E
      forest green  (dark green)    #106640
      genoa blue    (dark blue)     #106070
      rose          (dark pink)     #d04040
*/

.tab-right {
	padding-left: 2em;
	display: inline-block;
}
.panel-heading {
    cursor: pointer;
}
a, a:hover, a:focus {
  text-decoration: none;
}
a[href] {
	color: #106070;
}
a[href]:hover,
a[href]:focus {
	color: #d04040;
    cursor: pointer;
    text-decoration: none;
}

.jumbotron {
  background-color: #DBE3F0;
}
.panel-custom {
  border-color: #106640;
}
.panel-custom > .panel-heading {
  color: #fff;
  background-color: #106640;
  border-color: #29D08E;
}
.panel-custom > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #29D08E;
}
.panel-custom > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #29D08E;
}
/*.stripes-teal {
	background-image: linear-gradient(45deg, rgba(45, 235, 75, 0.8) 25%, rgba(45, 215, 215, 0.8) 25%,
						rgba(45, 215, 215, 0.8) 50%, rgba(45, 235, 75, 0.8) 50%, rgba(45, 235, 75, 0.8) 75%,
						rgba(45, 215, 215, 0.8) 75%, rgba(45, 215, 215, 0.8));
}
.stripes-shine {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%,
						transparent 75%, transparent);
}*/
