html{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #3A5A9A;
	background-image: url("turtle_blur.png");
	background-position: center top;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
body{
	margin: 0;
	border: 0;
	padding: 0;
	background: transparent;
	vertical-align: middle;
}
#page-container{
	margin: 350px auto 0 auto;
	border: 0;
	padding: 0;

	background: transparent;
}
.box-container{
	width:748px;
	margin: 8px auto -350px auto;
	border: 0;
	padding: 0 0 350px 0;

	background: transparent;
}
.box-title{
	width: 748px;
	margin: 8px 0 0 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	background-color: black;
	border-radius: 10px 10px 0 0;
}
.box-content{
	width: 748px;
	margin: 8px auto 0 auto;
	background: transparent;
}
table{
	margin: 0 0 8px 0;
	padding: 8px;
	border: 0;
	background-color: white;
}
h1{
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	color: white;
	font-weight: bold;
	margin: 0 0.25em 0 0.25em;
}
p{
	font-family: Helvetica, sans-serif;
	background: white;
	margin: 8px 0 0 0;
	padding: 0.5em;
}
p.cell{
	font-family: Helvetica, sans-serif;
	background: white;
	margin: 0 0 0 0.5em;
	padding: 0;
}
.pull-right{
	float:right;
}
.tab-right{
	padding-left: 4em;
}
.black{
	background: linear-gradient(to bottom, rgba(16,16,16,1) 0%,rgba(0,0,0,1) 100%);
}
.pink{
	background: linear-gradient(to bottom, rgba(244,48,199,1) 0%,rgba(225,45,185,1) 100%);
}
.cyan{
	background: linear-gradient(to bottom, rgba(35,205,239,1) 0%,rgba(32,186,216,1) 100%);
}
.green{
	background: linear-gradient(to bottom, rgba(8,219,36,1) 0%,rgba(0,200,35,1) 100%);
}
