html{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #3A5A9A;
	background-image: url("images/turtle_blur_2.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
body{
	margin: 0;
	border: 0;
	padding: 0;
	background: transparent;
	vertical-align: center;
}
title{
	font-family: "Optima", "Proxima Nova", "Trebuchet MS", "Helvetica", "Arial", sans-serif;
	font-size: 3em;
	color: white;
	font-weight: normal;
	text-align: center;
	margin: 0 auto 20px auto;
	display: block;
}
#title-container{
	margin: 25px 0 0 0;
	border: 0;
	padding: 0; 
	display: block;
}
#page-container{
	margin: 150px auto 0 auto;
	border: 0;
	padding: 0;
	display: block;
	background: transparent;
}
.box-container{
	width:758px;
	margin: 8px auto -350px auto;
	border: 0;
	padding: 0 0 350px 0;

	background: transparent;
}
.box-title{
	width: 758px;
	margin: 8px 0 0 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	background-color: black;
	border-radius: 10px 10px 0 0;
}
.box-content{
	width: 758px;
	margin: 8px auto 0 auto;
	background: transparent;
}

table{
	width: 100%;
	margin: 0 0 8px 0;
	padding: 8px;
	border: 0;
	font-family: Helvetica, sans-serif;
	background-color: white;
}

h1{
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	color: white;
	font-weight: normal;
	margin: 0 0.25em 0 0.25em;
}
p{
	font-family: Helvetica, sans-serif;
	background: white;
	margin: 8px 0 0 0;
	padding: 0.5em;
}
p.cell{
	font-family: Helvetica, sans-serif;
	background: white;
	margin: 0 0 0 0.5em;
	padding: 0;
}
.pull-right{
	float:right;
}
.tab-right{
	padding-left: 4em;
}
.black{
	background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%);
}
.pink{
	background: linear-gradient(to bottom, rgba(255,51,204,1) 0%,rgba(204,0,153,1) 100%);
}
.cyan{
	background: linear-gradient(to bottom, rgba(51,204,255,1) 0%,rgba(0,153,204,1) 100%);
}
.green{
	background: linear-gradient(to bottom, rgba(77,229,102,1) 0%,rgba(26,178,51,1) 100%);
}
